---
import Page from "../layouts/Page.astro";
import Carousel from "../components/Carousel.tsx";
import FAQAccordion from "../components/FAQAccordion.tsx";
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
---

<Page title="Acerca">
  <Carousel slot="before-article" client:load />
  <h1>¿Qué es el CIPC?</h1>
  <p>
    El <strong>Campamento Invernal de Programación Competitiva</strong> es una escuela de invierno
    intensiva de dos semanas diseñada para estudiantes universitarios interesados
    en aprender y aplicar algoritmos y estructuras de datos en el contexto de la
    programación competitiva, con un enfoque principal en competencias estilo
    <a
      href="https://en.wikipedia.org/wiki/International_Collegiate_Programming_Contest"
      >ICPC</a
    >.
  </p>
  <p>El campamento incluye:</p>
  <ul>
    <li>
      🧑‍🏫 <strong>Clases teóricas</strong> sobre algoritmos, estructuras de datos
      y técnicas de programación competitiva.
    </li>
    <li>
      👩‍💻 <strong>Talleres prácticos</strong> con simulaciones de competencias.
    </li>
    <li>💬 <strong>Sesiones de discusión</strong> y análisis de problemas.</li>
  </ul>
  <p>
    Aunque no es obligatorio, se espera que los participantes formen
    <strong>equipos de 3 personas</strong> para participar en las actividades.
  </p>
  <h2>Niveles</h2>
  <p>
    Para llegar a estudiantes con diversos niveles de experiencia, ofrecemos los
    niveles <strong>Inicial</strong> y <strong>Avanzado</strong>:
  </p>

  <div class="flex flex-col md:flex-row gap-4 prose-base">
    <Card className="pb-0 w-full">
      <CardHeader className="border-b">
        <CardTitle className="text-2xl">🚀 Inicial</CardTitle>
      </CardHeader>
      <CardContent>
        <p>
          Dirigido a quienes están dando sus primeros pasos en programación
          competitiva.
        </p>
        <p>
          Se recomiendan conocimientos básicos de programación: if, loops,
          arreglos y funciones.
        </p>
      </CardContent>
    </Card>

    <Card className="pb-0 w-full">
      <CardHeader className="border-b">
        <CardTitle className="text-2xl">🏆 Avanzado</CardTitle>
      </CardHeader>
      <CardContent>
        <p>
          Pensado para quienes buscan entrenarse seriamente para competencias
          como la ICPC.
        </p>
        <p>
          Se recomienda experiencia previa en competencias de programación y
          conocimiento parcial o completo del temario del nivel inicial.
        </p>
      </CardContent>
    </Card>
  </div>
  <p>
    Puedes encontrar más información y el temario de cada nivel en el
    <a href="/cronograma">cronograma</a>.
  </p>

  <h2>Costo</h2>
  <p>
    La inscripción y participación en el campamento son <strong>totalmente gratuitas</strong>. 
    Sin embargo, cada participante debe cubrir sus propios gastos de transporte,
    hospedaje y alimentación. 
  </p>
  <p>
    Durante las clases se ofrecerá un <strong><i>coffee break</i> gratuito</strong>
    para todos los asistentes.
  </p>

  {/* <p>
    El casino de la universidad estará disponible para comprar almuerzo a precios
    accesibles, y además, durante las clases se ofrecerá un <strong><i>coffee break</i> gratuito</strong>
    para todos los asistentes.
  </p> */}

  {/* <h2>Becas</h2>
  <p>
    Para quienes necesiten apoyo económico, el campamento ofrece becas destinadas 
    a <strong>ayudar a costear transporte, hospedaje y alimentación</strong>. Para postular, debes
    completar el formulario de inscripción indicando un presupuesto estimado de 
    tus gastos y explicando brevemente por qué deberías recibir la beca. Ten en 
    cuenta que la postulación es individual y no por equipo. Se buscará maximizar
    la diversidad geográfica e institucional entre los beneficiados.
  </p> */}

  <h2>Preguntas frecuentes</h2>
  <FAQAccordion client:load />

  <h2>Contacto</h2>

  <p>
    Si tienes alguna pregunta o inquietud, no dudes en contactarnos a través de
    nuestro correo electrónico: <strong>campamento@progcomp.cl</strong>
  </p>
  <p>
    También recuerda seguirnos en <i>Instagram</i> para estar al tanto de
    las últimas novedades: <a href="https://instagram.com/progcompcl">@progcompcl</a>
  </p>

  <h2>Organizadores</h2>
  El Campamento Invernal de Programación Competitiva está organizado por la <a
    href="https://progcomp.cl">Sociedad Chilena de Programación Competitiva</a
  >.
</Page>

<style>
  :global(article p) {
    text-align: justify;
  }
</style>
