---
import Page from "../layouts/Page.astro";
import CronogramaComponent from "../components/Cronograma.tsx";
---

<Page title="Cronograma">
  <h1>Cronograma</h1>
  <div class="not-prose mt-8">
    <CronogramaComponent client:load />
  </div>
</Page>
