---
import Header from "../components/Header.astro";
import background from "../assets/valdivia.jpg";
import Base from "../layouts/Base.astro";
import { Link } from "@/components/ui/link";
import { Info, Bell } from "lucide-react";
import { Image } from "astro:assets";
import logoHero from "../assets/logo-hero.svg";
---

<Base title="Inicio" bodyClasses={["dark"]}>
  <Header variant="home" />
  <main class="flex flex-col h-[100dvh] justify-center items-center">
    <Image
      class="absolute top-0 left-0 h-[100dvh] w-full -z-10 filter brightness-[0.5] object-cover object-[90%]"
      src={background}
      alt="Valdivia y su río"
      width={1920}
      quality={75}
    />
    <div id="hero" class="flex flex-col items-center">
      <div id="hero-text" class="flex flex-col items-center">
        <Image
          src={logoHero}
          alt="CIPC"
          class="w-[clamp(18rem,30vw,40rem)]"
        />
        <h2
          class="mt-4 text-center font-title text-[clamp(1rem,2.5vw,1.75rem)] font-extrabold text-white [text-shadow:0_2px_25px_rgba(0,0,0,1),0_0_12px_rgba(0,0,0,1)]"
        >
          Campamento Invernal de <span class="text-logo-orange">Programación Competitiva</span>
        </h2>
        <h3
          id="hero-subtitle"
          class="mt-4 text-md lg:text-lg text-center text-white text-shadow-black text-shadow-lg"
        >
          Julio, 2026 <br /> Valdivia
        </h3>
        <h4
          class="mt-4 text-sm lg:text-sm text-center text-white text-shadow-black text-shadow-lg"
        >
          Detalles e inscripciones próximamente. ¡Mantente atento!
        </h4>
      </div>
      <div class="flex flex-col items-center">
        <Link
          variant="default"
          size="lg"
          className="m-2"
          href="https://forms.gle/7Vh9HJTzbSxGTkyw9"
          target="_blank"
          rel="noopener noreferrer"
        ><Bell /> Avísame cuando abran inscripciones</Link
        >
        <Link variant="secondary" size="lg" className="m-2" href="/acerca/"
          ><Info /> Más información</Link
        >
      </div>
    </div>
  </main>
</Base>
